main {
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    color: #213547;
    background-color: #ffffff;
    justify-content: space-around;

    max-width: 500px;
    height: 500px;

    .button-container {
        margin: 2.5rem;

        button {
            display: block;
            margin: 0 auto;
        }
    }
}